<section class="gallery-section p-4 max-w-screen-xl mx-auto container">
  <div class="flex flex-col justify-center items-center">
    <p class="text-mainColor font-bold py-4">{{ 'gallery.title' | translate }}</p>
    <app-section-title
      [title]="'gallery.subtitle' | translate"
    ></app-section-title>
    <div class="container flex flex-col md:grid md:grid-cols-3 md:grid-rows-2 pt-8 gap-6">
      <img src="/images/grid-1.png" alt="image for grid 1" class="h-80 w-full md:h-full col-span-1 object-cover rounded-[2.5rem] " />
      <img src="/images/grid-3.png" alt="image for grid 2" class="h-80 w-full md:h-full col-span-1 object-cover rounded-[2.5rem]"/>
      <img src="/images/grid-4.jpg" alt="image for grid 3"  class="h-80 w-full md:h-full col-span-1 object-cover rounded-[2.5rem]"/>
      <img src="/images/grid-2.png" alt="image for grid 4" class="h-80 w-full md:h-full col-span-2 object-cover rounded-[2.5rem]"/>
      <img src="/images/grid-5.png" alt="image for grid 5" class="h-80 w-full md:h-full col-span-1 object-cover rounded-[2.5rem]"/>
    </div>
  </div>
</section>
