<section
  class="special-grid grid grid-cols-1 md:grid-cols-3 grid-rows-none md:grid-rows-3 gap-4 p-4 max-w-screen-xl mx-auto container"
>
  <!-- Left - Tall Column with Slider -->
  <div class="md:row-span-2">
    <app-tall-element-grid></app-tall-element-grid>
  </div>

  <!-- Top Right Card -->
  <div class="md:col-span-2 md:row-span-2 bg-white rounded-lg overflow-hidden">
    <app-special-slider></app-special-slider>
  </div>

  <!-- Bottom Left Card -->
  <app-bottom-grid-card
    head="Gifts Box"
    desc="Awesome Gifts BoxCollectons"
    badgeText="Discover Now"
    img="/images/Confetti-lying-near-present.png"
  ></app-bottom-grid-card>

  <!-- Bottom Center Card -->
  <app-bottom-grid-card
    head="Occasion Gifts"
    desc="Best Occasion Gifts Collections"
    badgeText="Discover Now"
    img="/images/Top-view-hand-holding-gift-box-on-work-space.png"
  ></app-bottom-grid-card>

  <!-- Bottom Right Card -->
  <app-bottom-grid-card
    head="Occasion Gifts"
    desc="Combo Sets Gift Box Up To 50% Off"
    badgeText="Discover Now"
    img="/images/Christmas-shopping-composition-with-presents-and-cart.png"
  ></app-bottom-grid-card>
</section>
