<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div
      class="flex flex-col md:flex-row sm:items-start md:items-center justify-between bg-white rounded-2xl overflow-hidden  relative"
    >
      <div class="absolute flex-1 flex flex-col justify-start z-10 py-6 px-5 md:p-10">
        <div
          class="color-pink-1 font-bold tracking-widest mb-2 text-sm md:text-base"
        >
          BEST GIFT SHOP
        </div>
        <div class="font-extrabold text-2xl md:text-5xl text-navy-900 mb-2">
          Surprise Your <span class="color-pink-1">Loved Ones</span>
        </div>
        <div class="text-gray-600 mb-6 max-w-md">
          Quisquam, voluptates. Repellendus, voluptatum. Quidem, voluptatibus.
          Quisquam, voluptates.
        </div>
        <button
          class="bg-color-pink-1 hover:bg-pink-600 text-white font-semibold py-2 px-6 rounded-lg shadow transition-all duration-300 w-max"
        >
          Shop Now <span class="ml-2">→</span>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center relative ">
        <img
          src="/images/special-slider-1.jpg"
          alt="Flowers and Balloons"
          class="object-cover rounded-lg w-full h-full md:min-h-[600px] shadow-xl"
        />
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div
      class="flex flex-col md:flex-row sm:items-start md:items-center justify-between bg-white rounded-2xl overflow-hidden  relative"
    >
      <div class="absolute flex-1 flex flex-col justify-start z-10 py-6 px-5 md:p-10">
        <div
          class="color-pink-1 font-bold tracking-widest mb-2 text-sm md:text-base"
        >
          BEST GIFT SHOP
        </div>
        <div class="font-extrabold text-3xl md:text-5xl text-navy-900 mb-2">
          Surprise Your <span class="color-pink-1">Loved Ones</span>
        </div>
        <div class="text-gray-600 mb-6 max-w-md">
          Quisquam, voluptates. Repellendus, voluptatum. Quidem, voluptatibus.
          Quisquam, voluptates.
        </div>
        <button
          class="bg-color-pink-1 hover:bg-pink-600 text-white font-semibold py-2 px-6 rounded-lg shadow transition-all duration-300 w-max"
        >
          Shop Now <span class="ml-2">→</span>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center relative ">
        <img
          src="/images/special-slider-2.jpg"
          alt="Flowers and Balloons"
          class="object-cover rounded-lg w-full h-full md:min-h-[600px] shadow-xl"
        />
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div
      class="flex flex-col md:flex-row sm:items-start md:items-center justify-between bg-white rounded-2xl overflow-hidden  relative"
    >
      <div class="absolute flex-1 flex flex-col justify-start z-10 py-6 px-5 md:p-10">
        <div
          class="color-pink-1 font-bold tracking-widest mb-2 text-sm md:text-base"
        >
          BEST GIFT SHOP
        </div>
        <div class="font-extrabold text-3xl md:text-5xl text-navy-900 mb-2">
          Surprise Your <span class="color-pink-1">Loved Ones</span>
        </div>
        <div class="text-gray-600 mb-6 max-w-md">
          Quisquam, voluptates. Repellendus, voluptatum. Quidem, voluptatibus.
          Quisquam, voluptates.
        </div>
        <button
          class="bg-color-pink-1 hover:bg-pink-600 text-white font-semibold py-2 px-6 rounded-lg shadow transition-all duration-300 w-max"
        >
          Shop Now <span class="ml-2">→</span>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center relative ">
        <img
          src="/images/special-slider-3.jpg"
          alt="Flowers and Balloons"
          class="object-cover rounded-lg w-full h-full md:min-h-[600px] shadow-xl"
        />
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
