<section class="special-grid grid grid-cols-1 md:grid-cols-3 grid-rows-none md:grid-rows-3 gap-4 p-4 max-w-screen-xl mx-auto my-24">
  <!-- Left - Tall Column with Slider -->
  <div class="md:row-span-2 bg-white rounded-lg overflow-hidden relative">
    <img src="/images/gifts-with-white-ribbon.png" alt="" class="w-full h-full object-cover" />
  </div>

  <!-- Top Right Card -->
  <div class="md:col-span-2 md:row-span-2 bg-white rounded-lg overflow-hidden">
    <app-special-slider></app-special-slider>
  </div>

  <!-- Bottom Left Card -->
  <div class="bg-white rounded-lg overflow-hidden">
    <img src="/images/Confetti-lying-near-present.png" alt="" class="w-full h-full object-cover" />
  </div>

  <!-- Bottom Center Card -->
  <div class="bg-white rounded-lg overflow-hidden">
    <img src="/images/Top-view-hand-holding-gift-box-on-work-space.png" alt="" class="w-full h-full object-cover" />
  </div>

  <!-- Bottom Right Card -->
  <div class="bg-white rounded-lg overflow-hidden">
    <img src="/images/Christmas-shopping-composition-with-presents-and-cart.png" alt="" class="w-full h-full object-cover" />
  </div>
</section>
