 
.header-container::after {
  content: '';
  position: absolute;
  left: 50%; /* Center the line */
  transform: translateX(-50%); /* Adjust centering */
  bottom: 0; /* Position it just below the text */
  width:100%; /* Adjust line width */
  height: 2px; /* Line thickness */
  background-color:  palevioletred
}
