<div class="bg-secondColor max-w-screen-xl container  my-20 rounded-[20px]">
  <h2 class=" text-center text-3xl font-bold text-textColor pt-8 ">
    <span class="header-container relative inline-block pb-3"> Trusted By </span> Over <span class="text-mainColor">4.5k+</span> Companies
  </h2>
  <div class="flex  justify-center gap-8 mt-8 bg-secondColor">
    <div class="flex items-center justify-center ">
      <img src="images/trustCompines-Images/image41.png" alt="Company 1" class="max-w-full max-h-full object-contain">
    </div>
    <div class="flex items-center justify-center  ">
      <img src="images/trustCompines-Images/image40.png" alt="Company 2" class="max-w-full max-h-full object-contain">
    </div>
    <div class="flex items-center justify-center  ">
      <img src="images/trustCompines-Images/image39.png" alt="Company 3" class="max-w-full max-h-full object-contain">
    </div>
    <div class="flex items-center justify-center  ">
      <img src="images/trustCompines-Images/image38.png" alt="Company 4" class="max-w-full max-h-full object-contain">
    </div>
    <div class="flex items-center justify-center  ">
      <img src="images/trustCompines-Images/image37.png" alt="Company 5" class="max-w-full max-h-full object-contain">
    </div>
    <div class="flex items-center justify-center  ">
      <img src="images/trustCompines-Images/image36@2x.png" alt="Company 6"
        class="max-w-full max-h-full object-contain">
    </div>
  </div>
</div>