<section class="w-full container p-4 mx-auto max-w-screen-xl">
  <div class="gap-10 grid grid-cols-1 lg:grid-cols-2 grid-rows-1">
    <app-about-image></app-about-image>
    <div class="content flex flex-col">
      <div class="text-pink-500 font-bold tracking-widest text-sm md:text-base">
        About Us
      </div>
      <div
        class="font-bold text-xl md:text-[1.6306rem] leading-8 text-navy-900 mt-6 mb-2"
      >
        We Provide Best And Quality <span class="color-pink-1">Gifts Box</span
        > Product For You
      </div>

      <p>
        Recusandae tempora aut laborum molestias veniam. A commodi sequi
        accusantium ullam cupiditate. Neque quidem qui et autem dolor dicta
        necessitatibus ut ad.
      </p>
      <app-main-button class="mt-6" text="Discover More "></app-main-button>
      <div
        class="cheack-section flex flex-col justify-start items-start gap-4 mt-6"
      >
        <div class="cirucalr-item grid grid-cols-1  sm:grid-cols-2  gap-4">
          @for (item of doneTextArr; track $index) {
            
            <app-done-circular [text]="item"></app-done-circular>

          }
         
          
          
        </div>
        
      </div>
    </div>
  </div>
</section>

<!-- flex flex-col md:flex-row -->
