.left-image img,.left-image .img-container{
    border-top-left-radius: 50px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
}


.img-right-bottom{
    border-top-left-radius: 50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 50px;
}

.left-image .img-container {
    transform: rotate(3deg);
    
}
